html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,form,fieldset,table,th,td,span,p,input,button {
    margin:0;
    padding:0;
}

article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
    display: block;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none; 
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font: 32px/1.5 "Helvetica Neue", Helvetica, "Droid sans fallback", "Microsoft YaHei", Arial, sans-serif;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  -webkit-text-size-adjust: 100% !important;/* IOS禁止微信调整字体大小 */
}
footer {
  position: absolute;top: calc(100% - 3rem);
  bottom:0px;left:0px;z-index:190;width:100%;
}
ol, ul, li {
  list-style: none;
}

li{
  width: auto;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

h1, .fontsize-1{
  font-size: 3rem;
}
h2, .fontsize-2{
  font-size: 2.75rem;
}
h3, .fontsize-3{
  font-size: 2.5rem;
}
h4, .fontsize-4{
  font-size: 2.25rem;
}
h5, .fontsize-5{
  font-size: 1.75rem;
}
h6, .fontsize-6{
  font-size: 1.5rem;
}
dl{
  line-height: normal;
}
blockquote, q {
  quotes: none; }
  blockquote:before, q:before {
    content: '';
    content: none; }
  blockquote:after, q:after {
    content: '';
    content: none; }

del {
  text-decoration: line-through; }

em, i {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, ins {
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; 
  color:#000;
  }
  a:hover, ins:hover {
    outline: 0;
    text-decoration: none; 
}
  a:link, ins:link {
    outline: 0;
    text-decoration: none; 
}
img {
  -webkit-touch-callout: none;
  /* 禁止长按图片弹出菜单 */
  vertical-align: top;
  /* 解决图片下面有间隙 */ }
  label {
    cursor: default;
}
.img {width: 100%; }

/* 清除select inpu textareat button默认属性 */
select, input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  cursor: pointer;
}

input, select, textarea, button {
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none; 
  background: transparent;
  font-size: 2rem;
}

/**
font
*/
/*
@font-face{
  font-family:'FontAwesome';
  src:url("/components/font-awesome/fonts/fontawesome-webfont.eot"),
  url("/components/font-awesome/fonts/FontAwesome.otf"),
  url("/components/font-awesome/fonts/fontawesome-webfont.woff"),
  url("/components/font-awesome/fonts/fontawesome-webfont.ttf"),
  url("/components/font-awesome/fonts/fontawesome-webfont.svg");
  font-weight:normal;
  font-style:normal
}
*/
.vam {
  vertical-align: middle; }

.vat {
  vertical-align: top; }

.vabline {
  vertical-align: baseline; }

.vab {
  vertical-align: bottom; }
/*显隐藏
 * $ishows 配置对象
 **********************************************************************/
.show {
  display: block; }

.block {
  display: block!important;; }

.inline-block {
  display: inline-block; }
  
.inline {
  display: inline-block; }

.hide {
  display: none; }

/*浮动
 * $floats 配置对象
 **********************************************************************/
.fl {
  float: left; }

.fr ,.fr:after {
  float: right; }

.fn {
  float: none; }

.clr:after {
  content: "";
  height:0px;
  width:100%;
  display: table;
  clear: both;
}
.absolute {
  position: absolute; }
.relative {
  position: relative; }
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-center :before{
  float: inherit!important;
}
.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.lineheight-3{
  line-height: 3rem;
}
.bold {font-weight: bold; }
.boldNode {font-weight: normal; }
.clearfix:after {content: "";display: table;clear: both;}
.ellipsis {white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
.small{
  font-size: .8rem;
}
.no-wrap{
  white-space: nowrap;
}
.no-padding{
  padding: 0!important;
}
.font-normal{
  font-size: 1rem;
}
.overflow-initial{
  overflow: initial!important;
  max-height: none!important;
  height: auto!important;
}
.noborder{
  border: none!important;
}
.bordered{
  border: 1px solid #BABABA;
}
.border-red{
	border-color: red;
}
.border-blue{
	border-color: $blue;
}
.grid-1{
    width: 100%;
}
.grid-2{
    width: 50%;
}
.grid-3{
    width: 33.33%;
}
.grid-4{
  width: 25%;
}
.pointer{
  cursor: pointer;
}
.flex{
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
}
.border-bottom{
  border-bottom: 1px solid #eee;
}

/**
颜色，$blue : #4f77ab;
*/
.white {
  color: white;
}
.bg-white{
  background-color: white;
}
.gray-1{
  color: #333;
}
.gray-2{
  color: #666;
}
.gray-3{
  color: #999;
}
.gray-4{
  color: #ccc;
}
.blue{
  color:$blue;
}
.orange{
  color:orange;
}
.green{
  color:green;
}
.bg-blue{
  color:#FFF;
  background-color:$blue;
}
.bg-gray{
  background-color:rgb(243, 243, 243)!important;
}
.red{
  color: #e60000;
}
.bg-yellow{
  background-color: yellow;
}
.af-blue:after{
  color:$blue;
}
.bg-green{
  color:#FFF;
  background-color:#81B338;
}
.bg-orange{
  color:#FFF;
  background-color:#F5C026;
}
.before-white:before{
  border:1px solid #33BDE2;
}
.before-red:before{
  background-color: red;
}
.before-orange:before{
  background-color: orange;
}
.before-blue:before{
  background-color: #33BDE2;
}
.before-green:before{
  background-color: green;
}
/**
外边距，默认25
*/
.mt2{
  margin-top:2rem;
}
.ml8{
  margin-left:15px;
}
.mz12{
  margin-top:25px;
  margin-bottom:25px;
}
.mh8{
  margin-left:15px;
  margin-right:15px;
}
.mb8{
  margin-bottom: 8rem;
}
.mb9{
  padding-bottom: 9rem;
}
#poptip .pop{
  position: fixed;
  z-index: 502;
  width: 80%;
  max-width: 540px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: .5rem;
  overflow: hidden;
  font-size: 2rem;
}
#poptip .content{
  padding: 2rem;
  color: #353535;
}
#poptip .btn{
  width:30%;
  height:2rem;
  float: left;
  line-height: 2rem;
  padding: 2rem 10%;
  border-top: 1px solid #e3e3e3;
}
#poptip .btn:active{
  background: #e3e3e3;
}
#poptip .btn:first-of-type:last-of-type{
  width:80%;
  margin: 0 10%;
}
#poptip .btn:not(:last-of-type){
  border-right: 1px solid #e3e3e3;
  margin-left:-1px;
}
#poptip .mask{
  position: fixed;
  z-index: 501;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.row{
  min-height: 2.8rem;
  line-height: 2.8rem;
  border-bottom: 1px solid #f3f3f3;
  padding: 1.6rem;
  background: #fff;
  text-align: left;
}
.noticebar{
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
}
form a input {
  width: 100%!important;
}

/**
按钮
*/
button:not(:last-of-type),button:not(:first-of-type){
  width: 48%;
}
.btn-submit,.btn-reset{
  height: 5.625rem;
  line-height: 5.625rem;
  background-color: $blue;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
}
.btn-reset{
  background-color: #c0c0c0;
}
.btn-submit.disabled{
  background-color: #C0C0C0;
}