body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font: 16px/1.5 "Helvetica Neue", Helvetica, "Droid sans fallback", "Microsoft YaHei", Arial, sans-serif;
  background-color: #F2F2F2; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

.hide {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

h1, h2, h3, h4, h5, h6, dl, dt, dd {
  font-weight: normal; }

.align-center {
  text-align: center; }

.grid-6 {
  width: 16.66%;
  float: left; }

.green {
  color: #1AAD19; }

.page_bd {
  padding: 0 12px; }

.noticebar {
  min-height: 20px;
  line-height: 20px;
  padding-left: 20px; }

.border-right {
  border-right: 1px solid #ddd; }

.margin-right {
  margin-right: 15px; }

.weui-cell__fb:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 0 2px 2px 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -ms-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: 50%;
  margin-bottom: 4px;
  right: -12px; }

.dialog .shade {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }

.dialog .selector {
  width: 300px;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  background-color: #fff;
  border-radius: .5rem;
  z-index: 100; }

.dialog ul {
  margin: -5px;
  float: left;
  padding: 20px; }

.dialog li {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 5px;
  text-align: center;
  background-color: #ddd;
  float: left; }

.dialog li.selected {
  color: #fff;
  background-color: #1AAD19; }

.dialog .title {
  margin-top: 20px;
  color: #262626; }

.dialog .btn {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  color: #1AAD19; }
