.row{
  dl {
    line-height: 2em;
    width: 100%;
    float: left;
    font-size: 0.5rem; }

  dt {
    width: 30%;
    float: left; }

  dd {
    width: 70%;
    float: left; }

  .head-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transform: translate(0, 10%); }
}
