.row dl {
  line-height: 2em;
  width: 100%;
  float: left;
  font-size: 0.5rem; }

.row dt {
  width: 30%;
  float: left; }

.row dd {
  width: 70%;
  float: left; }

.row .head-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transform: translate(0, 10%); }
