.flew-status{
  border-style: solid;
  border-width: 1px;
  font-size: 1.6rem;
  padding: .2rem .4rem;
  margin-left: 1rem;
  .noapprove{
    color:orange;
    border-color: orange;
  }
  .hasapprove{
    color:blue;
    border-color: blue;
  }
  .rejected{
    color:red;
    border-color: red;
  }
  .discarded{
    color: #ccc;
    border-color: #ccc;
  }
}
#switchTab {
  border-bottom: 1px solid #e5e5e5;
  background-color: #FFF;
  .line li:not(:last-of-type){
    border-right: 1px solid #5278AC;
    margin-right: -1px;
  }
   li{
    height: 3rem;
    line-height: 3rem;
    position: relative;
    margin: 0 0 -1px;
    float: left;
    white-space: nowrap;
    color: #5278AC;
    font-size: 1.75rem;
  }
  .icon li{
    width: 14%;
    padding-left: 11%;
  }
  .line li:first-of-type{
    background: url("%PUBLIC_URL%/images/icon-list-agree.png") no-repeat 2rem center / 20%;
  }
  .line li:nth-of-type(2){
    background: url("%PUBLIC_URL%/images/icon-list-reject.png") no-repeat 2rem center / 20%;
  }
  .line li:nth-of-type(3){
    background: url("%PUBLIC_URL%/images/icon-list-forward.png") no-repeat 2rem center / 20%;
  }
  .line li:last-of-type{
    background: url("%PUBLIC_URL%/images/icon-list-abandon.png") no-repeat 2rem center / 20%;
  }
  @media screen and (max-width:639px){
     li{
      font-size: .8rem;
    }
  }
   li.selected{
    color:#5f97f4;
  }
   li.selected:after{
    content:"";
    width: 80%;
    height: 1.4rem;
    margin: 0 10%;
    float: left;
    border-bottom: 2px solid #5f97f4;
  }
}