body{
  background-color: #efefef;
}
$blue : #4f77ab;
.blue{
  color:$blue;
}
.bg-blue{
  color:#FFF;
  background-color:#118EEA;
}
form {
  input,select{
    text-align: right;
  }
  a input{
    width: 100%!important;
  }
  .ant-calendar-picker-icon:after{
    content: '';}
}
.row label {
  white-space: nowrap;
  color: #666;
}