body {
  background-color: #efefef; }

.blue {
  color: #4f77ab; }

.bg-blue {
  color: #FFF;
  background-color: #118EEA; }

form input, form select {
  text-align: right; }

form a input {
  width: 100% !important; }

form .ant-calendar-picker-icon:after {
  content: ''; }

.row label {
  white-space: nowrap;
  color: #666; }
