.breadcrumbs {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  overflow: auto;
  white-space: nowrap; }
  .breadcrumbs span:not(:last-of-type) {
    color: #1296DB; }
  .breadcrumbs span:not(:last-of-type):after {
    content: ' > '; }

#letter {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  font-size: 5rem;
  color: #fff;
  text-align: center;
  line-height: 120px;
  background: rgba(145, 145, 145, 0.5);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -50px 0px 0px -50px;
  z-index: 99;
  display: none; }
  #letter img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 25px 0px 0px 25px; }

.sort_box {
  width: 100%;
  overflow: hidden; }

.sort_list:before {
  content: '';
  width: 2rem;
  height: 2.5rem;
  float: left; }

.sort_list {
  padding: 0 40px 0 0;
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
  display: flex; }
  .sort_list .sort_list8.noselect:before {
    background: url("./images/icon-select-noselect.png") no-repeat center #fcfcfc; }
  .sort_list .sort_list8.selected:before {
    background: url("./images/icon-select-selected.png") no-repeat center #fcfcfc; }
  .sort_list .num_logo {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 2px; }
    .sort_list .num_logo img {
      width: 20px;
      height: 20px; }
  .sort_list .num_name {
    color: #000; }

.sort_letter {
  height: 1rem;
  line-height: 1rem;
  padding-left: 1rem;
  color: #787878;
  font-size: .6rem;
  background-color: #eee; }

.initials {
  position: fixed;
  top: 90px;
  right: 0;
  height: 100%;
  width: 20px;
  padding-right: 10px;
  text-align: center;
  font-size: 1rem;
  z-index: 99;
  background: rgba(145, 145, 145, 0); }
  .initials li img {
    width: 14px; }
